%table.table.table-striped.table-bordered
	%thead
		%tr 
			%th= "Nom"
			%th= "Adresse"
			%th= "Téléphone"
			%th= "Note"
			%th= "Action"
	- @clients.each do |client|
		%tr 
			%td= client.name
			%td= client.address
			%td= client.phone
			%td= client.note
			%td.reglages
				%a{:href => "/clients/#{client.id}", :class => "btn btn-danger btn-mini"}
					%i.icon-edit.icon-white
				%form{:action => "/clients/#{client.id}", :method => "post"}
					%input{:type => "hidden", :name => "_method", :value => "delete"}/
					%button{:type => "submit", :class => "btn btn-danger btn-mini"}
						%i.icon-trash.icon-white